
.label-success {
  background-color: #8ad919; }

.label-success[href]:hover, .label-success[href]:focus {
  background-color: #8ad919; }

.label-warning {
  background-color: #ffb53e; }

.label-warning[href]:hover, .label-warning[href]:focus {
  background-color: #ec971f; }

  
.indicator {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 9999px;
  margin-right: 5px; }
